h3 Sprints
ul
  li(data-ng-repeat="sprint in sprints track by sprint.sprintIdent")
    .teamBox
      ul
        li(data-ng-bind-template="id: {{sprint.sprintIdent}}")
        li(data-ng-bind-template="number: {{sprint.sprintNumber}}")
        li(data-ng-bind-template="people: {{sprint.sprintPeople}}")
